.bgMain{
    background-color: #2A2764;
}
.bgSecondary{
    background-color: #c4c3d4;
}
.bgContact{
    background-color: #d8d7e3;
}
.textMain{
    color: #2A2764;
}
.textSecondary{
    color: #c4c3d4;
}